/* 
==========================================
================= MOBILE ================= 
==========================================
*/

@media only screen and (max-width: 575px) {
  .footer {
    background-color: #d17434;
    width: 100%;
    box-shadow: 0 50vh 0 50vh #d17434;
  }
  
  .container {
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 75px, 75px;
  }
  
  .attributions {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 300;
    padding-top: 10px;
    
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
  } 
  
  .createdBy {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 300;
    padding: 5px 0px 10px 0px;
    
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
  }
}

/* 
==========================================
================== WEB =================== 
==========================================
*/

@media only screen and (min-width: 576px) {
  .footer {
    background-color: #d17434;
    width: 100%;
    box-shadow: 0 50vh 0 50vh #d17434;
  }
  
  .container {
    margin: auto;
    display: grid; 
    width: 550px;
    grid-template-columns: 175px 1fr 175px;
    grid-template-rows: 75px;
  }
  
  .attributions {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 100;
  
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
  } 
  
  .createdBy {
    text-align: right;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 100;
    
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
  }
}
